/* Global Section */

.section__register{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}

.section__form-container{
    background-color: var(--roxo);
    border-radius: 2em;
}

.section__form{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;
}

.form{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Data Section */

.form__data{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
}

/* Img Section */

.form__img-data{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__img{
    width: 200px;
    height: 300px;
    border-radius: 1em;
    margin: 1em 0;
    border: 1px solid var(--cinza-claro);
    box-shadow: 2px 2px var(--roxo);
}

.form__title-game{
    color: var(--font-color);
    font-size: 1.4em;
}

/* Input Section */

.form__input-container{
    display: flex;
    gap: 1em;
}

.form__labels{
    font: 1.6em sans-serif;
    color: var(--font-color);
    text-align: left;
    display: flex;
    align-items: center;
}

.form__inputs{
    font: 1.6em sans-serif;
    border-radius: .5em;
    border: none;
    padding: .5em;
    width: 100%;
    background-color: var(--cinza-claro);
}

.form__input-file{
    background-color: transparent;
}

#form__input-submit{
    padding: .8em;
    font: 1.4em sans-serif;
    border: none;
    border-radius: .5em;
    width: 20%;
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--preto);
}