@import url("./css/header.css");
@import url("./css/sectionRegister.css");
@import url("./css/sectionEdit.css");
@import url("./css/sectionView.css");

:root{
    --background: #13181b;
    --font-color: #ecebeb;
    --cinza-claro: #a5a5a5;
    --roxo: #307ea6;
    --preto: #2d363d;
    --cor-erro: #ee3232;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
    background-color: var(--background);
}

body{
    width: 100%;
    height: 100%;
}

/* Mensagens de erro */


.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font: bold 2em sans-serif;
    color: var(--cor-erro);
    background-color: var(--preto);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lista__erro{
    font: bold 2em sans-serif;
    color: var(--cor-erro);
    text-align: center;
    margin-top: 2em;
}